body {
    background: #132B41;
}

.CardInHand {

}

.CardInHand:hover{
    border: 4px dashed #30bf79;
    transition: 0.3s all;
    border-radius: 15px;
}
#GameOptions{
    display:flex;
}
.topLeft{
    width:200px;
    margin:10px;
    border: 3px solid black;
    background-color:grey;
    justify-content:flex-start;
}
.topRight {
    width: 200px;
    margin: 10px;
    border: 3px solid blue;
    background-color: grey;
    margin-left:auto;
}
.playerInfo{
    display:flex;
    flex-direction:column;
}
