@model DeckOfCards

<div id="CardInhandContainer" style=" position: absolute; z-index: 999; padding: 50px; display: flex; justify-content: center; flex-wrap: wrap; ">

    <div id="ActionLabelContainer" class="col-12" style="display: flex; justify-content: center;">
        <h1 class="col-12 text-center" style="color: white; background: tan; width: 25%;">To Slap Or Not To Slap...</h1>
    </div>
    <div id="ActionContainer" class="col-12" style="display: flex; justify-content: center;">

        <div style="margin-right: 10px; cursor: pointer;">
            <span class="badge bg-danger" style="font-size: 25px; cursor: pointer;">Slap!</span>
        </div>

        <div style="margin-right: 10px;">
            <Button class="badge bg-info" style="font-size: 25px; cursor: pointer;">Confirm Card</Button>
        </div>

        <div style="margin-right: 10px;">
            <span class="badge bg-success" style="font-size: 25px; cursor: pointer;">Block!</span>
        </div>
    </div>


    @for(int i = 0; i < 5; i++){
        <div id="Testing Spot" class="col-md-3 CardInHand" style="width: 300px; padding: 10px; cursor: pointer;">
            <img src="@Model.(i).cardImage" Style="width: 100%; height: 100%; border-radius: 25px;" />
        </div>
    }


</div>