<div class="col-md-4 cardBeingPlayedContainer">
    <img src="~/Card/Back_Of_Card.png" style="width:50%; height:100%; border-radius:25px;" />
    <div>Player</div>
</div>

<div class="col-md-4 versus">VERSUS</div>

<div class=" col-md-4 cardBeingPlayedContainer">
    <img src="~/Card/Back_Of_Card.png" style="width:50%; height:100%; border-radius:25px;" />
    <div>Computer</div>
</div>