@model DeckOfCards

<link type="text/css" rel="stylesheet" href="/css/Custom/Index.css" />

<script src="https://kit.fontawesome.com/e913d29163.js" crossorigin="anonymous"></script>

@{
    ViewData["Title"] = "Player Vs Computer";
}

@*@Html.Partial("Overlay")
@Html.Partial("CardInHand", Model)*@

<div class="row" id="GameOptions">
    @Html.Partial("~/Views/PlayerVsComputer/playerInformationPartialView.cshtml")
</div>
<div class="row" id="cardsPlayed">

    <div class="col-md-4 cardBeingPlayedContainer">
        <img src="~/Card/Back_Of_Card.png" style="width:50%; height:100%; border-radius:25px;"/>
        <div>Player</div>
    </div>

    <div class="col-md-4 versus">VERSUS</div>

    <div class=" col-md-4 cardBeingPlayedContainer">
        <img src="~/Card/Back_Of_Card.png" style="width:50%; height:100%; border-radius:25px;" />
        <div>Computer</div>
    </div>
</div>



