<link type="text/css" rel="stylesheet" href="/css/Custom/Index.css" />

@{
    ViewData["Title"] = "Player Vs Computer";
}

<div class="row" id="GameOptions">
    <div class="col-md-3">
        Hello
    </div>
</div>
