                                             
    <div class="col-md-3 playerInfo" >
        <i class="fa fa-heart"> Your hand</i>
        <i class="fa-solid fa-hand-point-up"> Points</i>
        <i class="fa-solid fa-hand"> Been Slapped</i>
        <i class="fa-solid fa-user-slash"> Blocked Slaps</i>
    </div>

    <div class=" col-md-3 topRight playerInfo">
        <i class="fa-regular fa-heart"> Your hand</i>
        <i class="fa-solid fa-hand-point-up"> Points</i>
        <i class="fa-solid fa-hand"> Been Slapped</i>
        <i class="fa-solid fa-user-slash"> Blocked Slaps</i>
    </div>

